Importando as bibliotecas e carregando o DataFrame

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/eBetcel/analise-ITP/main/dados_itp.csv", sep=',', decimal=',')

In [9]:
df['situacao'].value_counts()

APR     260
REMF    231
APRN    133
REP     133
REPF     20
RENF      8
REPN      3
REC       2
Name: situacao, dtype: int64

In [7]:
df.describe()

        unidade_1   unidade_2   unidade_3      faltas          p4
count  790.000000  790.000000  790.000000  790.000000  118.000000
mean     5.429114    4.018861    4.375316   24.905063    2.988136
std      3.236051    3.296926    4.001234   25.192488    2.675088
min      0.000000    0.000000    0.000000    0.000000    0.000000
25%      3.000000    0.700000    0.000000    6.000000    0.425000
50%      5.800000    3.900000    5.000000   18.000000    2.800000
75%      8.000000    6.700000    8.000000   32.000000    4.575000
max     10.000000   10.000000   10.000000  106.000000   10.000000